{% extends 'base.html' %}

{% block body %}
    <blockquote class="blockquote" style="padding: 12px;">
        <p class="lead text"><span><strong>This load's random fact: &nbsp</strong></span>{{ ran_fact }}</p>
    </blockquote>
    <div>
        <textarea name="paste_content" id="paste_content" cols="30" rows="10">{{ paste_info['content'] }}</textarea>
    </div>
    <div class="container" style="padding-top: 4%; padding-bottom: 4%;">
        <div class="row">
            <div class="col-sm">
                <h4 class="h4 text">Title: &nbsp<span class="lead text">{{ paste_info["title"] }}</span></h4>
                <h4 class="h4 text">Language: &nbsp<span class="lead text">{{ (paste_info["lang"]).capitalize() }}</span></h4>
                <h4 class="h4 text">Paste ID: &nbsp<span class="lead text"><a href="/paste/{{ paste_info["hash"] }}" class="link">{{ paste_info["hash"] }}</a></span></h4>
                <h4 class="h4 text">Author: &nbsp<span class="lead text">{{ paste_info["author"] }}</span></h4>
            </div>
            <div class="col-sm">
                <div>
                    <a href="https://twitter.com/share?ref_src=twsrc%5Etfw"><span class="badge bg-dark share_link">Tweet It</span></a>
                    <a href="https://twitter.com/share?ref_src=twsrc%5Etfw"><span><svg role="img" viewBox="0 0 24 24" width=24px xmlns="http://www.w3.org/2000/svg"><title>Twitter</title><path d="M23.953 4.57a10 10 0 01-2.825.775 4.958 4.958 0 002.163-2.723c-.951.555-2.005.959-3.127 1.184a4.92 4.92 0 00-8.384 4.482C7.69 8.095 4.067 6.13 1.64 3.162a4.822 4.822 0 00-.666 2.475c0 1.71.87 3.213 2.188 4.096a4.904 4.904 0 01-2.228-.616v.06a4.923 4.923 0 003.946 4.827 4.996 4.996 0 01-2.212.085 4.936 4.936 0 004.604 3.417 9.867 9.867 0 01-6.102 2.105c-.39 0-.779-.023-1.17-.067a13.995 13.995 0 007.557 2.209c9.053 0 13.998-7.496 13.998-13.985 0-.21 0-.42-.015-.63A9.935 9.935 0 0024 4.59z" fill="#1DA1F2" /></svg></span></a>
                    <a href="https://www.facebook.com/sharer/sharer.php?u=https://paste.xbalde.me/paste/{{ paste_info['hash'] }}" style="padding-left: 12px;"><span class="badge bg-dark share_link">Facebook</span></a>
                    <a href="https://www.facebook.com/sharer/sharer.php?u=https://paste.xbalde.me/paste/{{ paste_info['hash'] }}"><span><svg role="img" viewBox="0 0 24 24" width=24px xmlns="http://www.w3.org/2000/svg"><title>Facebook</title><path d="M24 12.073c0-6.627-5.373-12-12-12s-12 5.373-12 12c0 5.99 4.388 10.954 10.125 11.854v-8.385H7.078v-3.47h3.047V9.43c0-3.007 1.792-4.669 4.533-4.669 1.312 0 2.686.235 2.686.235v2.953H15.83c-1.491 0-1.956.925-1.956 1.874v2.25h3.328l-.532 3.47h-2.796v8.385C19.612 23.027 24 18.062 24 12.073z" fill="#1877F2" /></svg></span></a>
                    <a href="mailto:?subject=I wanted you to see this &amp;body= Paste by {{ paste_info['author'] }} on NoobPaste (https://paste.xbalde.me). Check it out https://paste.xbalde.me/paste/{{ paste_info['hash'] }}" style="padding-left: 12px;"><span class="badge bg-dark share_link">Mail</span></a>
                    <a href="mailto:?subject=I wanted you to see this &amp;body= Paste by {{ paste_info['author'] }} on NoobPaste (https://paste.xbalde.me). Check it out https://paste.xbalde.me/paste/{{ paste_info['hash'] }}"><span><svg role="img" viewBox="0 0 24 24" width=24px xmlns="http://www.w3.org/2000/svg"><title>Gmail</title><path d="M24 5.457v13.909c0 .904-.732 1.636-1.636 1.636h-3.819V11.73L12 16.64l-6.545-4.91v9.273H1.636A1.636 1.636 0 0 1 0 19.366V5.457c0-2.023 2.309-3.178 3.927-1.964L5.455 4.64 12 9.548l6.545-4.91 1.528-1.145C21.69 2.28 24 3.434 24 5.457z" fill="#EA4335" /></svg></span></a>
                    <a href="https://joinmastodon.org/" style="padding-left: 12px;"><span class="badge bg-dark share_link">Mastodon</span></a>
                    <a href="https://joinmastodon.org/"><span><svg role="img" viewBox="0 0 24 24" width=24px xmlns="http://www.w3.org/2000/svg"><title>Mastodon</title><path d="M23.193 7.88c0-5.207-3.411-6.733-3.411-6.733C18.062.357 15.108.025 12.041 0h-.076c-3.069.025-6.02.357-7.74 1.147 0 0-3.412 1.526-3.412 6.732 0 1.193-.023 2.619.015 4.13.124 5.092.934 10.11 5.641 11.355 2.17.574 4.034.695 5.536.612 2.722-.15 4.25-.972 4.25-.972l-.09-1.975s-1.945.613-4.13.54c-2.165-.075-4.449-.234-4.799-2.892a5.5 5.5 0 0 1-.048-.745s2.125.52 4.818.643c1.646.075 3.19-.097 4.758-.283 3.007-.359 5.625-2.212 5.954-3.905.517-2.665.475-6.508.475-6.508zm-4.024 6.709h-2.497v-6.12c0-1.29-.543-1.944-1.628-1.944-1.2 0-1.802.776-1.802 2.313v3.349h-2.484v-3.35c0-1.537-.602-2.313-1.802-2.313-1.085 0-1.628.655-1.628 1.945v6.119H4.831V8.285c0-1.29.328-2.314.987-3.07.68-.759 1.57-1.147 2.674-1.147 1.278 0 2.246.491 2.886 1.474L12 6.585l.622-1.043c.64-.983 1.608-1.474 2.886-1.474 1.104 0 1.994.388 2.674 1.146.658.757.986 1.781.986 3.07v6.305z" fill="#3088D4" /></svg></span></a>
                    <a href="https://instagram.com" style="padding-left: 12px;"><span class="badge bg-dark share_link">Instagram</span></a>
                    <a href="https://instagram.com"><span><svg role="img" viewBox="0 0 24 24" width=24px xmlns="http://www.w3.org/2000/svg"><title>Instagram</title><path d="M12 0C8.74 0 8.333.015 7.053.072 5.775.132 4.905.333 4.14.63c-.789.306-1.459.717-2.126 1.384S.935 3.35.63 4.14C.333 4.905.131 5.775.072 7.053.012 8.333 0 8.74 0 12s.015 3.667.072 4.947c.06 1.277.261 2.148.558 2.913.306.788.717 1.459 1.384 2.126.667.666 1.336 1.079 2.126 1.384.766.296 1.636.499 2.913.558C8.333 23.988 8.74 24 12 24s3.667-.015 4.947-.072c1.277-.06 2.148-.262 2.913-.558.788-.306 1.459-.718 2.126-1.384.666-.667 1.079-1.335 1.384-2.126.296-.765.499-1.636.558-2.913.06-1.28.072-1.687.072-4.947s-.015-3.667-.072-4.947c-.06-1.277-.262-2.149-.558-2.913-.306-.789-.718-1.459-1.384-2.126C21.319 1.347 20.651.935 19.86.63c-.765-.297-1.636-.499-2.913-.558C15.667.012 15.26 0 12 0zm0 2.16c3.203 0 3.585.016 4.85.071 1.17.055 1.805.249 2.227.415.562.217.96.477 1.382.896.419.42.679.819.896 1.381.164.422.36 1.057.413 2.227.057 1.266.07 1.646.07 4.85s-.015 3.585-.074 4.85c-.061 1.17-.256 1.805-.421 2.227-.224.562-.479.96-.899 1.382-.419.419-.824.679-1.38.896-.42.164-1.065.36-2.235.413-1.274.057-1.649.07-4.859.07-3.211 0-3.586-.015-4.859-.074-1.171-.061-1.816-.256-2.236-.421-.569-.224-.96-.479-1.379-.899-.421-.419-.69-.824-.9-1.38-.165-.42-.359-1.065-.42-2.235-.045-1.26-.061-1.649-.061-4.844 0-3.196.016-3.586.061-4.861.061-1.17.255-1.814.42-2.234.21-.57.479-.96.9-1.381.419-.419.81-.689 1.379-.898.42-.166 1.051-.361 2.221-.421 1.275-.045 1.65-.06 4.859-.06l.045.03zm0 3.678c-3.405 0-6.162 2.76-6.162 6.162 0 3.405 2.76 6.162 6.162 6.162 3.405 0 6.162-2.76 6.162-6.162 0-3.405-2.76-6.162-6.162-6.162zM12 16c-2.21 0-4-1.79-4-4s1.79-4 4-4 4 1.79 4 4-1.79 4-4 4zm7.846-10.405c0 .795-.646 1.44-1.44 1.44-.795 0-1.44-.646-1.44-1.44 0-.794.646-1.439 1.44-1.439.793-.001 1.44.645 1.44 1.439z" fill="#E4405F" /></svg></span></a>
                </div>
                <div class="d-grid gap-2" style="padding-top: 12px; padding-bottom: 12px;">
                    <p><code id="short_link">{{ short_url }}</code><span><button style="background-color: rgba(255, 255, 255, 0); border: 0;" id="copy_btn_1"><i class="bi bi-clipboard" style="color: white;"></i></button></span></code> | <code id="link">https://paste.xbalde.me/paste/{{ paste_info['hash'] }}</code><span><button style="background-color: rgba(255, 255, 255, 0); border: 0;"  id="copy_btn"><i class="bi bi-clipboard" style="color: white;"></i></button></span></code></p>
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" style="background-color: rgb(102, 23, 250);">Share QRCode</button>
                </div>
                <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">QrCode for NoobPaste id: {{ paste_info["hash"] }}</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <div style="text-align: center;">
                                    <img src="{{ url_for('static',filename='assets/images/qr_code.svg') }}" alt="NoobPaste QrCode">
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                <button type="button" class="btn btn-primary"><a href="{{ url_for('static',filename='assets/images/qr_code.svg') }}" target="_blank" class="btn_link">Download</a></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src= "https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.48.4/codemirror.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.48.4/codemirror.min.css">
    <script src= "https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.48.4/mode/{{ paste_info['lang'] }}/{{ paste_info['lang'] }}.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.48.4/theme/monokai.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.48.4/keymap/sublime.js"></script>
    <script>
        const codemirrorEditor = CodeMirror.fromTextArea(document.getElementById('paste_content'), {
            lineNumbers: true,
            mode: "{{ paste_info['lang'] }}",
            theme: "monokai",
            keymap: "sublime",
            readOnly: true
        })
        var copyBtn = document.getElementById("copy_btn_1")
        var toCopy = document.getElementById("short_link")
        copyBtn.addEventListener('click', function(event){
            navigator.clipboard.writeText(toCopy.innerHTML)
        })
        var copyBtn_1 = document.getElementById("copy_btn")
        var toCopy_1 = document.getElementById("link")
        copyBtn_1.addEventListener('click', function(event){
            navigator.clipboard.writeText(toCopy_1.innerHTML)
        })
    </script>
{% endblock %}