{% extends 'base.html' %}

{% block body %}
    <figure style="text-align: center; padding-top: 12px;">
        <blockquote class="blockquote">
        <p class="lead text">{{ ran_quote[0] }}</p>
        </blockquote>
        <figcaption class="blockquote-footer text">
            <cite title="Source Title">{{ ran_quote[1] }}</cite>
        </figcaption>
    </figure>
    <h1 class="title" style="text-align: center; padding: 12px;">Inspired yet? Write your paste here</h1>
    <div style="margin-left: 12%; margin-right: 12%;">
        <form action="/done" method="post">
            <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1" style="background-color: rgb(160, 23, 252);"><span style="color: white; font-family: 'Cascadia Code';">></span></span>
                <input type="text" class="form-control" placeholder="Enter Title" aria-label="Username" aria-describedby="basic-addon1" name="title" required style="font-family: 'Noto Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;">
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1" style="background-color: rgb(160, 23, 252);"><span style="color: white; font-family: 'Cascadia Code';">></span></span>
                <input type="text" class="form-control" placeholder="Enter Author Name" aria-label="Username" aria-describedby="basic-addon1" name="author" required style="font-family: 'Noto Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;">
            </div>
            <input type="hidden" name="language" value="{{ language }}">
            <textarea name="paste_content" id="paste_content" cols="30" rows="10" style="font-family: 'Cascadia Code';"></textarea>
            <input type="hidden" name="file_paste_content" id="file_paste_content">
            <p class="lead text" style="text-align: center; padding-top: 2%; padding-bottom: 2%;">or upload a file, but the above filled area won't be considered</p>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <div class="input-group-text" style="padding-bottom: 12px;">
                        <input type="checkbox" aria-label="Checkbox for following text input" style="margin-top: 5px;" name="check">
                    </div>
                </div>
                <input type="file" class="form-control" id="inputGroupFile03" aria-describedby="inputGroupFileAddon03" aria-label="Upload" name="file">
            </div>
            <p class="lead text" id="file-content"></p>
            <div style="text-align: center;">
                <button type="submit" id="language_btn">Continue <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="#000000"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M12 4l-1.41 1.41L16.17 11H4v2h12.17l-5.58 5.59L12 20l8-8-8-8z" fill="#defece" /></svg></button>
            </div>
        </form>
    </div>

    <script src= "https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.48.4/codemirror.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.48.4/codemirror.min.css">
    <script src= "https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.48.4/mode/{{ language }}/{{ language }}.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.48.4/theme/monokai.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.48.4/keymap/sublime.js"></script>
    <script>
        function readSingleFile(e) {
            var file = e.target.files[0];
            if (!file) {
                return;
            }
            var reader = new FileReader();
            reader.onload = function(e) {
                var contents = e.target.result;
                displayContents(contents);
            };
            reader.readAsText(file);
            }
            
            function displayContents(contents) {
            var paste_content = document.getElementById('file_paste_content');
            file_paste_content.value = contents;
            }

        var codemirrorEditor = CodeMirror.fromTextArea(document.getElementById('paste_content'), {
            lineNumbers: true,
            mode: "{{ language }}",
            theme: "monokai",
            autofocus: true,
            keymap: "sublime",
        });
        document.getElementById('inputGroupFile03').addEventListener('change', readSingleFile, false);
    </script>
{% endblock %}